.main {
    display: flex;
    height: 100vh;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2;
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex: 0.95;
}
#video-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.video-item{
    width: 47%;
    margin-left: 10px;
    margin-right: 7px;
    height: 285px;
    margin-top: 8px;

}
video{
    
    width: 100%;
}
.main__controls {
    background-color: #1C1E20;
    flex: 0.05;
}

.main__right {
    background-color: white;
    border-left: 1px solid #3D3D42;
}

.main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
    margin:auto;
}
.secondary_controls_block{
    display: flex;
}
.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 40px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    margin:5px;
}

.secondary_controls_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 40px;
    border-radius: 50%;
    background-color:#1C1E20;
    cursor: pointer;
    margin:5px;
}
.main__controls__button:hover {
    background-color: gray;
    border-radius: 50%;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.main__header {
    padding-top: 5px;
    padding-left: 5px;
    color: black;
    text-align: left;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: black;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: black;
}

.leave_meeting {
    background-color: white;
}
.unmute, .stop {
    color: #CC3B33;
}
.fa-microphone{
    color: white;
}
.fa-video{
    color:white;
}
.fa-phone-slash{
    color:#EB534B;
}
